.prop-list {
    cursor: pointer;
}

.prop-list .container img{
    height: 300px;
    width: 300px;
    border-radius: 10px;    
}

.prop-list-titles {
    margin-top: 10px;
}

.prop-list-titles>h1 {
    font-size: 18px;
    text-transform: capitalize;
} 

.prop-list-titles>p {
    font-size: 14px;
    margin-top: -8px;
} 