:root {
    --one: #355c7d;
    --two: #6c5b7b;
    --three: #c06c84;
    --four: #f67280;
    --five: #f8b195;
    --text: #eeeeee;
    --white: #ffffff;
}

.single-hotel {
    margin-top: 2%;
}

.location {
    font-size: 1.3em;
}

.distance {
    color: var(--four);
    font-weight: 600;
    font-size: 1.2em;
}

.promo {
    color: var(--two);
    font-size: 1.1em;
    font-weight: 600;
}

.single-hotel .btn {
    background-color: var(--one);
    color: var(--text);
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.hotel-about .info {
    font-weight: bold;
}

.hotel-about .more-info {
    font-weight: 600;
}

.aside {
    background-color: #ebf3ff;
    padding: 20px 15px;
    border-radius: 5px;
    height: max-content;
}

.perfect {
    color: var(--one);
    font-weight: bold;
    text-align: center;
}

.amount {
    font-weight: bold;
    text-align: center;
}

.amount span{
    font-weight: normal;
    font-size: smaller;
}

.aside .btn {
    margin: auto;
    width: 100%;
    margin-top: 20px;
}

.slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.426);
    z-index: 999;
    display: flex;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background-color: var(--one);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}


.arrow {
    margin: 10px;
    color: #fff;
    background-color: var(--one);
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 770px) {
    .close-btn {
        top: 50px;
    }
}

@media (max-width:450px) {
    .slider img {
        min-height: 400px;
    }

    .close-btn {
        font-size: 18px;
    }
    
    .arrow {
        margin: 0;
        font-size: 15px;
        padding: 5px;
    }
    
} 