:root {
    --one: #355c7d;
    --two: #6c5b7b;
    --three: #c06c84;
    --four: #f67280;
    --five: #f8b195;
    --text: #eeeeee;
}

li {
    list-style-type: none;
}

.footer .logo {
    font-size: 1.5em;
}

.footer-list-item a{
    cursor: pointer;
    color: var(--two);
    font-weight: bold;
    padding-top: 20px;
}

.footer-list-item a:hover {
    color: var(--four);
    text-decoration: none;
}

.footer-colophone {
    background-color: var(--one);
    padding: 2% 0;
}

.footer-text {
    /* text-align: center; */
    font-size: 1.3em;
    color: var(--text);

}

.socials .footer-list-item i {
    font-size: 1em;
    background-color: rgb(227, 224, 224);
    color: var(--one);
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 50%;
}